#container{
    display: flex;
    justify-content: flex-start;
    height: auto;
    align-self: stretch;
}
#button-content{
    box-shadow:  2px 0 8px rgb(0, 0, 0, 0.2);
    width: 10%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-self: stretch;
    height: auto;
    flex-shrink: 0;
    min-height: 100%;
}
#perfil-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    height: auto;
    min-height: 72vh;
}
#edit-name-container,
#edit-password-container{
    width: 50%;
    background-color: #f9f9f9;
    border: 2px solid #007acc;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.2s;
}
#edit-name-container:hover,
#edit-password-containre:hover{
    transform: scale(1.02);
}
#edit-name-container input,
#edit-password-container input{
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}
#edit-name-container input:focus,
#edit-password-container input:focus{
    border-color: #007acc;
    outline: none;
}
#edit-name-container button,
#edit-password-container button {
    width: 150px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    background-color: #007acc;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}
#edit-name-container button:hover,
#edit-password-container button:hover{
    transform: scale(1.05);
}
#save-name:hover,
#save-password:hover{
    background-color: #28a745;
}
#cancel-name:hover,
#cancel-password:hover{
    background-color: #c82333;
}
#logout-btn{
    margin-top: auto;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}
#logout-btn:hover{
    transform: scale(1.05);
}
#reset-name{
    color: black;
    background-color: #007acc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}
#reset-name:hover{
    transform: scale(1.05);
}
#reset-password{
    color: black;
    background-color: #007acc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding:11px;
}
#reset-password:hover{
    transform: scale(1.05);
}
#favorit{
    color: black;
    background-color: #007acc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}
#favorit:hover{
    transform: scale(1.05);
}
.favoritos-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 15px; 
    justify-content: center;
    padding: 15px 0;
}
.favorito-item {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center; 
    width: 100px;
}
.favorito-img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.favorito-img:hover {
    transform: scale(1.05);
}
.favorito-link,  h3 {
    color: blue;
    margin-top: 8px;
    font-size: 14px;
    text-decoration: none;
}
@media (max-width: 768px){
    #button-content{
        width: 15%;
    }
    #reset-name{
        padding: 7px;
        font-size: 15px;
    }
    #reset-password{
        padding: 7px;
        font-size: 15px;
    }
    #favorit{
        padding: 7px;
        font-size: 15px;
    }
    #perfil-content{
        padding: 20px;
    }
    .favorito-item {
        width: 90px; 
    }
    .favorito-img {
        height: 130px;
    }
    .favorito-link h4 {
        font-size: 15px; 
    }
}
@media (max-width: 480px){
    #button-content{
        width: 25%;
        height: auto;
        min-height: 100%;
    }
    #button-content h5{
        font-size: 10px;
    }
    #reset-name{
        padding: 7px;
        font-size: 11px;
    }
    #reset-password{
        padding: 7px;
        font-size: 11px;
    }
    #favorit{
        padding: 7px;
        font-size: 11px;
    }
    #perfil-content{
        padding: 10px;
        height: auto;
        min-height: 82vh;
    }
    .favorito-item {
        width: 60px; 
    }
    .favorito-img {
        height: 100px;
    }
    .favorito-link h3 {
        font-size: 11px; 
    }
    #edit-name-container,
    #edit-password-container {
        width: 90%;
        height: auto;
        padding: 15px;
        border-width: 1px;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    #edit-name-container input,
    #edit-password-container input {
        width: 100%;
        padding: 8px;
        font-size: 0.9em;
    }
    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 10px;
        width: 100%; 
    }
    #edit-name-container button,
    #edit-password-container button {
        width: 80%; 
        font-size: 0.85em;
        padding: 8px;
        margin: 5px 0;
        text-align: center;
    }
}
