hr{
    margin: 0 20px 0 20px;
}
h1{
    text-align: center;
    margin: 50px;
}
#corpo1{
    background-color: white;
    height: 500px;
    text-align: center;
    padding: 50px;
}
#corpo1 img{
    width: 200px;
}
#corpo2{
    background-color: white;
    height: 500px;
    text-align: center;
    padding: 50px;
}
#corpo2 img{
    width: 200px;
}
#corpo3{
    background-color: white;
    height: 500px;
    text-align: center;
    padding: 50px;
}
#corpo3 img{
    width: 200px;
}
#corpo4{
    background-color: white;
    height: 500px;
    text-align: center;
    padding: 50px;
}
#corpo4 img{
    width: 200px;
}
#corpo5{
    background-color: white;
    height: 500px;
    text-align: center;
    padding: 50px;
}
#corpo5 img{
    width: 200px;
}
#corpo6{
    background-color: white;
    height: 500px;
    text-align: center;
    padding: 50px;
}
#corpo6 img{
    width: 200px;
}
#corpo7{
    background-color: white;
    height: 500px;
    text-align: center;
    padding: 50px;
}
#corpo7 img{
    width: 200px;
}
#corpo8{
    background-color: white;
    height: 500px;
    text-align: center;
    padding: 50px;
}
#corpo8 img{
    width: 200px;
}
#corpo9{
    background-color: white;
    height: 500px;
    text-align: center;
    padding: 50px;
}
#corpo9 img{
    width: 200px;
}
#corpo10{
    background-color: white;
    height: 500px;
    text-align: center;
    padding: 50px;
}
#corpo10 img{
    width: 200px;
}