*{
    margin: 0;
}
body{
    font-family: 'Times New Roman';
    background-color: f2f2f2;
}
hr{
    margin: 0 10%;
}
h1{
    text-align: center;
    margin: 50px;
}
.corpo{
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10%;
}
.corpo img{
    width: 100%;
    max-width: 200px;
    margin: 40px;
}
iframe{
    width: 100%;
    max-width: 400px;
}
h3{
    margin: 30px;
    text-align: left;
}
p{
    margin: 10px auto;
    max-width: 600px;
}
.buttonvermais{
    background-color: #008cba;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
.buttonvermais{
    background-color: #005f74;
}
.page{
    display: flex;
    align-items: center;
    list-style: none;
    background-color: white;
    margin: 0 10%;
}
.link_page{
    text-decoration: none;
    color: black;
}
.li_page{
    padding: 3px;
}
.button_page{
    background-color: #008cba;
    border: solid #044155 1px;
    border-radius: 5px;
}
@media (max-width: 768px){
    /*body{
        background-color: white;
    }*/
    h1{
        margin: 30px;
        font-size: 1.5em;
    }
    hr{
        margin: 0;
    }
    .corpo{
        margin: 0;
        padding: 20px;
    }
    .page{
        margin: 0;

    }
    p{
        margin: 10px 20px;
    }
}
@media (max-width: 480px){
    h1{
        font-size: 1.5em;
    }
    p{
        margin: 10px 15px;
    }
}