*{
    margin: 0;
}
body{
    font-family: 'Times New Roman';
    background-color: f2f2f2;
    background-image: url('../../img/Wallpaper\ notebook.jfif');

}
hr{
    margin: 0 10%;
}
h1{
    text-align: center;
    margin: 50px;
}
#title{
    background-color: white;
    margin: 0 10%;
}
.corpo{
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10%;
}
.corpo img{
    width: 100%;
    max-width: 200px;
    margin: 40px;
}
iframe{
    width: 100%;
    max-width: 400px;
}
p{
    margin: 10px auto;
    max-width: 600px;
}
.buttonvermais{
    background-color: #008cba;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
.buttonvermais{
    background-color: #005f74;
}
.page{
    display: flex;
    align-items: center;
    list-style: none;
    background-color: white;
    margin: 0 10%;
}
.link_page{
    text-decoration: none;
    color: black;
    padding: 5px;
}
.li_page{
    padding: 3px;
}
.button_page{
    background-color: #008cba;
    border: solid #044155 1px;
    border-radius: 5px;
}
.filme-favorito{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
}
.titulo-filme {
    flex-grow: 1;
    text-align: center;
}
.favorito-btn{
    border-radius: 50%;
    font-size: 1.2em;
    padding: 0 3px;
    border: 2px black solid;
    background-color: rgb(217, 192, 192);
    cursor: pointer;
    color: white;
}
@media (max-width: 768px){
    h1{
        margin: 30px;
        font-size: 1.5em;
    }
    hr{
        margin: 0;
    }
    .corpo{
        margin: 0;
        padding: 20px;
    }
    .page{
        margin: 0;

    }
    p{
        margin: 10px 20px;
    }
    #title{
        margin: 0;
    }
}
@media (max-width: 480px){
    h1{
        font-size: 1.5em;
    }
    p{
        margin: 10px 15px;
    }
    .page {
        align-items: center;
        gap: 3px;
        padding: 5px;
    }
    .link_page{
        padding: 5px;
    }
}