*{
    margin: 0;
}
body{
    font-family: 'Times New Roman';
}
hr{
    margin: 0 20px ;
}
h1{
    text-align: center;
    margin: 50px;
}
.corpo{
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.corpo img{
    width: 100%;
    max-width: 200px;
    margin: 40px;
}
iframe{
    width: 100%;
    max-width: 400px;
}
h3{
    margin: 30px;
    text-align: left;
}
p{
    margin: 10px auto;
    max-width: 600px;
}
button{
    background-color: #008cba;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
button{
    background-color: #005f74;
}
@media (max-width: 768px){
    h1{
        margin: 30px;
    }
    #corpo{
        padding: 20px;
    }
    p{
        margin: 10px 20px;
    }
}
@media (max-width: 480px){
    h1{
        font-size: 1.5em;
    }
    p{
        margin: 10px 15px;
    }
}